<html>
<head>
	<title>My Chat APP</title>
	
	<script type="text/javascript">
		socket= new WebSocket("http://localhost:5000");
		console.log("connected to socket")
		
		socket.onopen= function() {
		    socket.send("web-client");
		    socket.sent("web-client|Mensaje de prueba");
		    socket.send("web-client|cerrando conexion");
		    socket.send("web-client|exit");
		};
		
		socket.onmessage= function(s) {
		    console.log("mensaje recibido: " + s);
		};
	</script>
</head>
<body>
	<h1>My Chat APP</h1>
	<textarea rows="25" cols="100"></textarea>
	<br><br>
	<input type="text" id="input-text">
	<button id="button-send">send</button>
</body>
</html>